/*
Default config options
*/

params {

    // Preprocessing, QC and normalisation
    st_preprocess_fig_size                 = 6
    st_preprocess_min_counts               = 500
    st_preprocess_min_genes                = 250
    st_preprocess_min_cells                = 1
    st_preprocess_hist_qc_max_total_counts = 10000
    st_preprocess_hist_qc_min_gene_counts  = 4000
    st_preprocess_hist_qc_bins             = 40

    // Clustering
    st_cluster_resolution = 1

    // Spatial differential expression
    st_spatial_de_top_hgv = 15
    st_spatial_de_ncols   = 5
}
