/*
Default config options
*/

// TODO : add bool flags

params {
    STload_minCounts                    = 1
    STload_minCells                     = 1

    STpreprocess_pltFigSize             = 6
    STpreprocess_minCounts              = 500
    STpreprocess_minGenes               = 250
    STpreprocess_minCells               = 1
    STpreprocess_histplotQCmaxTotalCounts= 10000
    STpreprocess_histplotQCminGeneCounts= 4000
    STpreprocess_histplotQCbins         = 40

    SpatialDE_plotTopHVG                = 15
    SpatialDE_numberOfColumns           = 5

    Clustering_resolution               = 1
}
