/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/spatialvi -profile test_full_hd,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile (Visium HD)'
    config_profile_description = 'Full test dataset to check pipeline function - Visium HD Human Lung Cancer, FFPE, v2 chemistry (CytAssist, HD-only Experiment 2)'

    // Input data for full size test
    // FASTQs and images are streamed directly from 10x Genomics;
    // only the (tiny) samplesheet is hosted on the nf-core test-datasets repo.
    input                = 'https://raw.githubusercontent.com/cavenel/test-datasets/spatialvi-full-size-samplesheets/testdata/human-lung-cancer-post-xenium_hd_ffpe/samplesheet_full.csv'
    spaceranger_probeset = 'https://raw.githubusercontent.com/cavenel/test-datasets/spatialvi-full-size-samplesheets/testdata/human-lung-cancer-post-xenium_hd_ffpe/Visium_HD_Human_Lung_Cancer_HD_Only_Experiment2_probe_set.csv'
    // spaceranger_reference uses the pipeline default: refdata-gex-GRCh38-2020-A.tar.gz

    // Analysis parameters matching the full dataset
    hd_bin_size   = 16
    qc_min_counts = 50
    qc_min_genes  = 75
}
