/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/spatialvi -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function - Human Brain Cancer 11mm capture area, FFPE, v2 chemistry (CytAssist)'

    // Input data for full size test
    // FASTQs, image and slide files are streamed directly from 10x Genomics;
    // only the (tiny) samplesheet is hosted on the nf-core test-datasets repo.
    input                = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/spatialvi/testdata/human-brain-cancer-11-mm-capture-area-ffpe-2-standard_v2_ffpe_cytassist/samplesheet_full.csv'
    spaceranger_probeset = 'https://cf.10xgenomics.com/samples/spatial-exp/2.0.1/CytAssist_11mm_FFPE_Human_Glioblastoma/CytAssist_11mm_FFPE_Human_Glioblastoma_probe_set.csv'
    // spaceranger_reference uses the pipeline default: refdata-gex-GRCh38-2020-A.tar.gz
}
